{% extends "base.html" %}
{% block content %}

    <script>
        // 提示信息
        window.onload = function () {
            var message = '{{ get_flashed_messages()[0] }}';
            if (message != undefined && message != '')
                noty({text: message, layout: "center", timeout: 1000});
        }

        // 上传图片函数
        function uploadFile(obj) {
            {#var path = $("#fileInput1").val();#}

            {#var myform = new FormData();
            myform.append('file', $('#fileInput1')[0].files[0]);
            var url = "/uploadFileToServer";
            $.post(url, myform, function (result) {
                noty({text: result.msg, layout: "center", timeout: 1000});
                if (result.code == 200)
                    alert(result.path);
            });#}

            var myform = new FormData();
            myform.append('file', $('#fileInput' + obj)[0].files[0]);
            $.ajax({
                url: "/uploadFileToServer",
                type: "POST",
                data: myform,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                    noty({text: data.msg, layout: "center", timeout: 1000});
                    if (data.code == 200) {
                        {#alert(data.path);#}
                        $('#fileInput' + obj).attr("disabled", true);
                        $('#file' + obj).val(data.path);
                    }
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }

        // 添加租房信息
        function addHouseInfo() {
            var url = "/add_house_info";
            var images = "";
            for (var i = 1; i <= 5; i++) {
                if ($("#file" + i).val() != undefined && $("#file" + i).val() != "") {
                    images += $("#file" + i).val() + ",";
                }
            }
            if (images == "") {
                noty({text: "请至少上传一张图片", layout: "center", timeout: 1000});
                return;
            }
            // 长图必传
            var longimage = "";
            if ($("#file6").val() == undefined || $("#file6").val() == "") {
                noty({text: "请上传公寓长图介绍", layout: "center", timeout: 1000});
                return;
            }
            longimage = $("#file6").val();

            var address = $.trim($("#address").val());
            var minprice = $.trim($("#minprice").val());
            var maxprice = $.trim($("#maxprice").val());
            if (address == "") {
                noty({text: "请填写地址", layout: "center", timeout: 1000});
                return;
            }
            if (minprice == "" || maxprice == "") {
                noty({text: "请填写价格区间", layout: "center", timeout: 1000});
                return;
            }
            params = {
                "city": $("#city").text(),
                "region": $("#region").val(),
                "images":images,
                "address":address,
                "minprice":minprice,
                "maxprice":maxprice,
                "renttype":$("#renttype").val(),
                "installation_wifi":$("#installation_wifi").is(":checked") ? 1 : 0,
                "installation_kitchen":$("#installation_kitchen").is(":checked") ? 1 : 0,
                "installation_hoods":$("#installation_hoods").is(":checked") ? 1 : 0,
                "installation_water_heater":$("#installation_water_heater").is(":checked") ? 1 : 0,
                "installation_washer":$("#installation_washer").is(":checked") ? 1 : 0,
                "installation_toilet":$("#installation_toilet").is(":checked") ? 1 : 0,
                "pay_month":$("#pay_month").is(":checked") ? 1 : 0,
                "pay_season":$("#pay_season").is(":checked") ? 1 : 0,
                "pay_half":$("#pay_half").is(":checked") ? 1 : 0,
                "pay_year":$("#pay_year").is(":checked") ? 1 : 0,
                "longimage":longimage
            };
            console.log(params);
            $.post(url, params, function (result) {
                if (result.code == 200)
                    window.location = "/add_house_info";
            });
        }
    </script>

    <!-- start: Content -->
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="">主页</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="#">添加租房信息</a>
            </li>
        </ul>

        {#第一个表单#}
        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>
                    <h2><i class="halflings-icon white edit"></i><span class="break"></span>添加</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form class="form-horizontal" method="post" action="">
                        <fieldset>
                            {#城市#}
                            <div class="control-group">
                                <label class="control-label">城市</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input" id="city">贵阳市</span>
                                </div>
                            </div>

                            {#区域#}
                            <div class="control-group">
                                <label class="control-label" for="selectError3">区域</label>
                                <div class="controls">
                                    <select id="region">
                                        <option>观山湖区</option>
                                        <option>南明区</option>
                                        <option>云岩区</option>
                                        <option>花溪区</option>
                                    </select>
                                </div>
                            </div>

                            {#图片#}
                            <div class="control-group">
                                <label class="control-label" for="fileInput">图片1</label>
                                <div class="controls">
                                    <input class="input-file uniform_on" id="fileInput1" type="file"
                                           onchange="uploadFile(1);">
                                    <input type="hidden" id="file1">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">图片2</label>
                                <div class="controls">
                                    <input class="input-file uniform_on" id="fileInput2" type="file"
                                           onchange="uploadFile(2);">
                                    <input type="hidden" id="file2">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">图片3</label>
                                <div class="controls">
                                    <input class="input-file uniform_on" id="fileInput3" type="file"
                                           onchange="uploadFile(3);">
                                    <input type="hidden" id="file3">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">图片4</label>
                                <div class="controls">
                                    <input class="input-file uniform_on" id="fileInput4" type="file"
                                           onchange="uploadFile(4);">
                                    <input type="hidden" id="file4">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="fileInput">图片5</label>
                                <div class="controls">
                                    <input class="input-file uniform_on" id="fileInput5" type="file"
                                           onchange="uploadFile(5);">
                                    <input type="hidden" id="file5">
                                </div>
                            </div>

                            {#长图#}
                            <div class="control-group">
                                <label class="control-label" for="fileInput">长图</label>
                                <div class="controls">
                                    <input class="input-file uniform_on" id="fileInput6" type="file"
                                           onchange="uploadFile(6);">
                                    <input type="hidden" id="file6">
                                </div>
                            </div>

                            {#地址#}
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">地址</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" type="text"
                                           value="" name="address" id="address" required>
                                </div>
                            </div>

                            {#价格区间#}
                            <div class="control-group">
                                <label class="control-label" for="appendedPrependedInput">价格区间</label>
                                <div class="controls">
                                    <div class="input-prepend input-append">
                                        <span class="add-on">$</span><input id="minprice"
                                                                            size="16" type="text" required><span
                                            class="add-on">.00</span>
                                    </div>
                                    <span>&nbsp;~&nbsp;</span>
                                    <div class="input-prepend input-append">
                                        <span class="add-on">$</span><input id="maxprice"
                                                                            size="16" type="text" required><span
                                            class="add-on">.00</span>
                                    </div>
                                </div>
                            </div>

                            {#公寓类型#}
                            <div class="control-group">
                                <label class="control-label" for="selectError3">公寓类型</label>
                                <div class="controls">
                                    <select id="renttype">
                                        <option>长租</option>
                                        <option>短租</option>
                                    </select>
                                </div>
                            </div>

                            {#公寓设施#}
                            <div class="control-group">
                                <label class="control-label">公寓设施</label>
                                <div class="controls">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="installation_wifi" value="option1"> 无线WIFI
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="installation_kitchen" value="option2"> 厨房
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="installation_hoods" value="option3"> 油烟机
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="installation_water_heater" value="option3"> 热水器
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="installation_washer" value="option3"> 洗衣机
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="installation_toilet" value="option3"> 卫生间
                                    </label>
                                </div>
                            </div>

                            {#付款方式#}
                            <div class="control-group">
                                <label class="control-label">付款方式</label>
                                <div class="controls">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="pay_month" value="option1"> 月付
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="pay_season" value="option2"> 季付
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="pay_half" value="option3"> 半年付
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="pay_year" value="option3"> 年付
                                    </label>
                                </div>
                            </div>

                            <div class="form-actions">
                                {#<button type="submit" class="btn btn-primary">保存</button>#}
                                <button type="button" class="btn btn-primary" onclick="addHouseInfo();">保存</button>
                                <button type="button" class="btn" onclick="location.href='/add_house_info'">重置</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div><!--/span-->

        </div><!--/row-->



    </div><!--/.fluid-container-->

    <!-- end: Content -->
{% endblock %}