{% extends "login_base.html" %}

{% block content %}
    <div class="container-fluid-full">
        <div class="row-fluid">

            <div class="row-fluid">
                <div class="login-box">
                    {#<div class="icons">
                    <a href="index.html"><i class="halflings-icon home"></i></a>
                    <a href="#"><i class="halflings-icon cog"></i></a>
                </div>#}
                    <h2>贵漂公寓管理平台</h2>
                    <form class="form-horizontal" action="" method="post">
                        <fieldset>

                            <div class="input-prepend" title="Username">
                                <span class="add-on"><i class="halflings-icon user"></i></span>
                                <input class="input-large span10" name="username" id="username" type="text"
                                       placeholder="请输入用户名" required=""
                                        {% if request.cookies.get('username') %}
                                       value="{{ request.cookies.get('username') }}"
                                        {% endif %}/>
                            </div>
                            <div class="clearfix"></div>

                            <div class="input-prepend" title="Password">
                                <span class="add-on"><i class="halflings-icon lock"></i></span>
                                <input class="input-large span10" name="password" id="password" type="password"
                                       placeholder="请输入密码" required=""
                                        {% if request.cookies.get('password') %}
                                       value="{{ request.cookies.get('password') }}"
                                        {% endif %}/>
                            </div>
                            <div class="clearfix"></div>

                            <label class="remember" for="remember"><input type="checkbox" id="remember"
                                                                          name="remember_me"/>请记住我</label>

                            <div class="button-login">
                                <button type="submit" class="btn btn-primary">登录</button>
                            </div>
                            <div class="clearfix"></div>

                            {% if get_flashed_messages()[0] %}
                                <div class="control-group error">
                                    <label class="control-label" for="inputError">{{ get_flashed_messages()[0] }}</label>
                                </div>
                            {% endif %}
                        </fieldset>
                    </form>
                    <hr>
                    {#<h3>Forgot Password?</h3>
                <p>
                    No problem, <a href="#">click here</a> to get a new password.
                </p>#}
                </div><!--/span-->
            </div><!--/row-->


        </div><!--/.fluid-container-->

    </div><!--/fluid-row-->
    <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <ul class="list-inline item-details">
                <li><a href="#">Admin templates</a></li>
                <li><a href="http://themescloud.org">Bootstrap themes</a></li>
            </ul>
        </div>
    </div>

{% endblock %}